/*............. Google fonts .............*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Open+Sans&family=Roboto+Slab:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #FFF1E4;
    /* soft white color with a touch of creme to add to a cozy feel */
}

h1 {
    letter-spacing: 1px;
}

h1, h2 {
    font-family: Roboto Slab, serif;
    margin-top: 0;
    margin-bottom: 0;
}

form, p, h3 {
    font-family: Open Sans, sans-serif;
    font-weight: 400;

}

a {
    color: #000;
}


/*............. Logo .............*/

#logo {
    color: #3b2200;
    font-family: Roboto Slab, serif;
    font-size: 180%;
    margin: 20px 20px;
    padding: 5px;
    float: left;
    
    border: 3px dotted #000;
    border-radius: 5px;

}

#logo h2 {
    font-size: 100%;
    margin-left: 150px;
}

/*............. Hero banner .............*/

#hero-banner-outer {
    height: 400px;
    width: 100%;

    position: relative;

    overflow: hidden;

    margin-bottom: 10px;
}


#hero-banner {
    height: 600px;
    width: 100%;
    background: url('../images/hero-banner.jpg') no-repeat center center;
    opacity: 0.8;

}

#hero-banner h2 {
    position: absolute;
    top: 40%;
    left: 25%;

    text-align: center;

    font-size: 400%;

}


/*............. Navigation bar .............*/

#menu {
    font-family: Roboto Slab, serif;
    float: right;
    font-size: 180%;
    margin-top: 30px;
}

#menu ul > li {
    list-style: none;
    display: inline;
    margin-right: 30px;
    
}

#menu a {
    text-decoration: none;
}

#menu a:hover{
    border-bottom: solid 1px #5e3b1f;
}

.active {
    border-bottom: solid 1px #5e3b1f;
}


/*............. Time and place information .............*/

.text-box-style {
    width: 20%;
    height: 50%;
    background-color: #ccac90;

    border: 1px solid #3b2200;
    border-radius: 5px;

    padding-bottom: 5px;
}

#time-place-information{
    height: 300px;
    text-align: center;
}


#text-box-left {
    float: left;
    margin: 50px 0 0 80px;

}

#text-box-center {
    margin: auto;
    display: inline-block;
    margin-top: 50px;
}

#text-box-right {
    float: right;
    margin: 50px 80px 0 0;
}

/*............. Did you know? box .............*/


#intro {
    text-align: center;
    width: 50%;
    margin: 20px 25%;

    background-color: #ccac90;

    border: 1px solid #3b2200;
    border-radius: 5px;
} 

#intro p {
    padding: 5px;
}

/*........................... MATERIALS PAGE ...........................*/


/*............. Materials Banner .............*/

#materials-banner-outer{
    width: 100%;

    overflow: hidden;

    position: relative;
    text-align: center;
    color: #000;
    
}

#materials-banner-outer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 500%;
}

#materials-banner {
    height: 400px;
    width: 100%;
    background: url('../images/materials-banner.jpg') no-repeat center center;

    opacity: 0.8;
}

/*............. Material images .............*/


#materials-img-outer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.materials-image {
    height: 300px;
    width: 300px;

    border-radius: 5px;

    margin-bottom: 20px;
}

.materials-image h2 {
    padding-left: 5px;
}

#yarn {
    background: url('../images/yarn.jpg') no-repeat center center;

}

#hook {
    background: url('../images/hooks.jpg') no-repeat center center;

}

#scissor {
    background: url('../images/scissor.jpg') no-repeat center center;

}

#pattern {
    background: url('../images/pattern.jpg') no-repeat center center;

}


/*............. Material text .............*/

#materials-text-outer {
    margin-bottom: 18px;
}

.materials-text {
    font-family: Open sans, sans-serif;

    width: 900px;
    height: 300px;
    background-color: #ccac90;

    border: 1px solid #3b2200;
    border-radius: 5px;

    overflow-wrap: break-word;

    margin-top: 20px;
    margin-bottom: 20px;

    
}

/*........................... CONTACT PAGE ...........................*/

/*............. Contact Banner .............*/


#contact-banner-outer {
    width: 100%;

    overflow: hidden;

    position: relative;
    text-align: center;
    color: #000;
}

#contact-banner-outer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 500%;
}

#contact-banner {
height: 400px;
width: 100%;
background: url('../images/contact-banner.jpg') no-repeat center;
opacity: 0.8;

}


/*............. Form .............*/

#form-header {
    text-align: center;
    padding-top: 10px;
}

/*Form HTML/CSS template from https://formbold.com/templates/contact-form*/

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    background: #ccac90;
    padding: 40px;
    border: 1px solid #3b2200;
    border-radius: 5px;
  }

  .formbold-input-wrapp > div {
    display: flex;
    gap: 20px;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }
  .formbold-input-flex > div {
    width: 50%;
  }
  .formbold-form-input {
    width: 70%;
    padding: 13px 22px;
    border-radius: 5px;

    border: 1px solid #3b2200;
    background: #ffffff;

    font-weight: 500;
    font-size: 16px;

    outline: none;
    resize: none;
  }

  .formbold-form-label {
    font-size: 16px;
    line-height: 24px;

    display: block;
    margin-bottom: 10px;
  }

  #formbold-btn {
   font-size: 16px;

    border: 1px solid #3b2200;
    border-radius: 5px;
  }

/*............. Form message .............*/

.formbold-form-wrapper h2, h3 {
    text-align: center;

    padding-top: 20px;
 
}

/*........................... FOOTER ...........................*/

footer{
    width: 100%;
}

#material-page {
    position: absolute;
    bottom: 0;
}

.no-map {
    height: 15px;
}

#social-media {
    height: 45px;
    width: 100%;
    background-color: #ccac90;

}

#social-media > ul {
    list-style: none;
    text-align: center;

    margin: 0;

}

#social-media li {
   display: inline;
}

i {
    font-size: 38px;
    padding: 5px 25px 0px 25px;
}

