/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Open+Sans&family=Roboto+Slab:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #FFF1E4;
    /* soft white color with a touch of creme to add to a cozy feel */
}

h2 {
    font-family: Roboto Slab, serif;
}

p, h3 {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #000;
}


/* Logo */

#logo {
    color: #3b2200;
    font-family: Roboto Slab, serif;
    font-size: 300%;
    margin-left: 20px;
    padding: 10px;
    float: left;
    border: 2px dotted #000;

}

/* Navigation bar */

#menu {
    font-family: Roboto Slab, serif;
    float: right;
    font-size: 180%;
    margin-top: 30px;
}

#menu li {
    list-style: none;
    display: inline;
    margin-right: 30px;
    
}

#menu a:hover{
    border-bottom: solid 1px #5e3b1f;
}

.active {
    border-bottom: solid 1px #5e3b1f;
}

/* Hero image */

#hero-box {
    height: 600px;
    width: 100%;

    overflow: hidden;

    margin-bottom: 10px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

}

/* Introduction box */



#intro {
    text-align: center;
    width: 30%;
    margin: auto;

    background-color: #ccac90;

    border-radius: 5px;

    /* position: relative;
    bottom: 70px; */

} 


/* Time and place information */

.box-style {

    
    width: 20%;
    background-color: #ccac90;

    border-radius: 5px;
}

#time-place-information{
    height: 400px;
    border: 1px solid black;
    text-align: center;
}


#text-box-left {
    float: left;

}

#text-box-center {
    margin: auto;
    display: inline-block;

}

#text-box-right {
    float: right;
}