/*............. Google fonts .............*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Open+Sans&family=Roboto+Slab:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #FFF1E4;
    /* soft white color with a touch of creme to add to a cozy feel */
}

h1 {
    letter-spacing: 1px;
}

h1, h2 {
    font-family: Roboto Slab, serif;
    margin-top: 0;
    margin-bottom: 0;
}

form, p, h3 {
    font-family: Open Sans, sans-serif;
    font-weight: 400;

}

a {
    color: #000;
}


/*............. Logo .............*/

#logo {
    color: #3b2200;
    font-family: Roboto Slab, serif;
    font-size: 180%;
    margin: 20px 20px;
    padding: 5px;
    float: left;
    
    border: 3px dotted #000;
    border-radius: 5px;

}

#logo h2 {
    font-size: 100%;
    margin-left: 150px;
}

/*............. Hero banner .............*/
/* Guide from https://www.w3schools.com/howto/howto_css_hero_image.asp */

#hero-banner-outer {
    height: 50%;
    width: 100%;

    position: relative;

    overflow: hidden;

    margin-bottom: 10px;
}

#hero-banner-outer h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 300%;

}


#hero-banner {
    min-height: 400px;
    min-width: 100%;
    background: url('../images/hero-banner.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    background-color: #ccac90;

    opacity: 0.6;

}


/*............. Navigation bar .............*/

#menu {
    font-family: Roboto Slab, serif;
    float: right;
    font-size: 180%;
    margin-top: 30px;
}

#menu ul > li {
    list-style: none;
    display: inline;
    margin-right: 30px;
    
}

#menu a {
    text-decoration: none;
}

#menu a:hover{
    border-bottom: solid 1px #5e3b1f;
}

.active {
    border-bottom: solid 1px #5e3b1f;
}


/*............. Time and place information .............*/

.text-box-style {
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    background-color: #ccac90;

    border: 1px solid #3b2200;
    border-radius: 5px;

    padding-bottom: 5px;
}

#time-place-information{
    text-align: center;
}




#text-box-left, #text-box-center, #text-box-right {
  margin: 10px auto;
  min-width: 300px;
  max-width: 300px;
  min-height: 200px;
  background-color: #ccac90;
  border: #04AA6D solid 1px;
  padding: 10px;
  }




/*............. Text boxes .............*/


.home-textbox {
    text-align: center;
    width: 70%;

    margin: 5% 0 0 15%;

    background-color: #ccac90;

    border: 1px solid #3b2200;
    border-radius: 5px;
} 

.home-textbox p {
    padding: 5px;
}

/*........................... MATERIALS PAGE ...........................*/


/*............. Materials Banner .............*/

#materials-banner-outer{
    width: 100%;

    overflow: hidden;

    position: relative;
    text-align: center;
    color: #000;
    
}

#materials-banner-outer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 400%;
}

#materials-banner {
    min-height: 400px;
    min-width: 100%;
    background: url('../images/materials-banner.jpg') no-repeat center center;
    background-color: #ccac90;

    opacity: 0.6;
}

/*............. Material text .............*/

/* Guide from https://www.w3schools.com/howto/howto_css_two_columns.asp */


.column {
    float: left;

    padding-left: 5px;
    
    height: 309px;
    width: 49%;
    border: 1px solid #3b2200;   

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#materials-text-outer {
    margin-bottom: 18px;
}

/*........................... CONTACT PAGE ...........................*/

/*............. Contact Banner .............*/


#contact-banner-outer {
    width: 100%;

    overflow: hidden;

    position: relative;
    text-align: center;
    color: #000;
}

#contact-banner {
    min-height: 400px;
    min-width: 100%;
    background: url('../images/contact-banner.jpg') no-repeat center;
    background-color: #ccac90;

    opacity: 0.6;
    
    }
    

#contact-banner-outer h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 400%;
}



/*............. Form .............*/

#form-header {
    text-align: center;
    padding-top: 10px;
}

 /* Form from https://www.w3schools.com/howto/howto_css_contact_form.asp */



#form-container {
    background-color: #ccac90;
    max-width: 800px;

    margin-left: 25%;
    margin-bottom: 4%;

    padding: 1%;
}

 input[type=text], select, textarea {
    width: 90%; 
    padding: 12px; 
    border: 1px solid #3b2200; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
  }

  .label-text {
    margin-left: 5%;

  }

  input[type="radio"] {
    margin-left: 5%;
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: 1px solid #3b2200;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 

/*............. Thank you message .............*/

#thank-you{
    position: relative;
    text-align: center;

    margin-top: 50px;
    padding: 40px;
}

/*........................... FOOTER ...........................*/

footer{
    width: 100%;
}

#thank-you-page {
    position: fixed;
    bottom: 0;
}

.no-map {
    height: 15px;
}

#social-media {
    max-height: 45px;
    min-width: 100%;
    background-color: #ccac90;

}

#social-media > ul {
    list-style: none;
    text-align: center;

    margin: 0;

}

#social-media li {
   display: inline;
}

i {
    font-size: 38px;
    padding: 5px 25px 0px 25px;
}

/*........................... Media Query ...........................*/
/* From https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */


@media screen and (min-width: 1300px) {
  
body{
  background-color: orange;
}

#text-box-left {
  float: left;
  margin: 50px 0 10px 15%;

}

#text-box-center {
  margin: auto;
  display: inline-block;
  margin-top: 50px;
}

#text-box-right {
  float: right;
  margin: 50px 15% 0 0;
}


    
  }
  
 /* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: 100%;

    }
  } 